<div data-role="footer" class="ui-bar" data-position="inline">      
    <div data-role="controlgroup" data-type="horizontal">
        <a href="mailto:support.google.com" >Email</a> <a href="http://www.google.com/">Support</a>  <a href="http://twitter.com/">Twitter</a>
    </div>
</div> 